setuptools
wheel
Flask==2.3.3
Flask-CORS==4.0.0
Flask-JWT-Extended==4.5.2
PyMongo==4.5.0
opencv-python==4.8.1.78
numpy==1.24.3
bcrypt==4.0.1
gunicorn==21.2.0
python-dotenv==1.0.0
librosa==0.10.1
soundfile==0.12.1
scipy==1.11.4